# Vim folder
.netrwhist
vim/backups
vim/bundle
vim/plugged
vim/autoload
vim/spell
vim/ftplugin

# Chef
cookbooks/
local-mode-cache/
nodes/

# fish
fish_history
fishd.*
generated_completions

#Kitchen
kitchen/logs
kitchen/cache
