# Vim folder
.netrwhist
vim/autoload
vim/backups
vim/bundle
vim/ftplugin
vim/plugged
vim/spell

# Chef
cookbooks/
local-mode-cache/
nodes/

# fish
fish_history
fishd.*
fuck.fish
fzf_key_bindings.fish
generated_completions
