# Old muck stufff
muck/tf-dir.symlink/tiny.world
muck/accounts.tin
.netrwhist

# Vim folder
vim/backups
vim/bundle

# Chef
.kitchen/
cookbooks/homebrew/
nodes/

# fish
fish_history
fishd.*
generated_completions
