[submodule "vim/vim.symlink/bundle/vim-git"]
	path = vim/vim.symlink/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "vim/vim.symlink/bundle/vim-puppet"]
	path = vim/vim.symlink/bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/vim.symlink/bundle/snipmate"]
	path = vim/vim.symlink/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/vim.symlink/bundle/syntastic"]
	path = vim/vim.symlink/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "emacs/emacs.d.symlink/solarized"]
	path = emacs/emacs.d.symlink/solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "emacs/emacs.d.symlink/markdown-mode"]
	path = emacs/emacs.d.symlink/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
