[user]
	name = Amelia Aronsohn
	email = squirrel@wearing.black
	signingkey = 98E879BC3B6E1BF8
[core]
	editor = nvim
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpgsign = true
[push]
	default = current
[alias]
	commit = commit -s
	prgithub = "!f() { git fetch origin pull/$1/head:pr-$1 && git checkout pr-$1;  }; f"
	prstash = "!f() { git fetch $1 refs/pull-requests/$2/from:$3;  } ; f"
	co = checkout
	ci = commit
	br = branch
	st = status
	nuke = !git branch | egrep -v '( master$|^\\*)' | xargs git branch -D

#Silly tools fight for config down here
[hub]
	protocol = ssh
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[fetch]
	prune = true

# vi: tabstop=2 noexpandtab
