[user]
	name = Amelia Aronsohn
	email = squirrel@wearing.black
	signingkey = 98E879BC3B6E1BF8
[core]
	excludesfile = ~/.gitignore
	editor = vim
	autocrlf = input
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpgsign = true
[push]
	default = current
[fetch]
	prune = true
[init]
	defaultBranch = main
[pull]
	ff = only
#This is for git.mod that points to private repos
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
	commit = commit -s
	prgithub = "!f() { git fetch origin pull/$1/head:pr-$1 && git checkout pr-$1;  }; f"
	prstash = "!f() { git fetch $1 refs/pull-requests/$2/from:$3;  } ; f"
	co = checkout
	br = branch
	st = status
	sm = !git switch main && git pull origin main --prune
	nuke = !git branch | egrep -v '( main$|master$|^\\*)' | xargs git branch -D
	rmb = "!f() { git fetch -p && git branch -vv | awk '/: gone]/ {print $1}' | xargs git branch -D; }; f"


#Silly tools fight for config down here
[hub]
	protocol = ssh
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

# vi: tabstop=2 noexpandtab
