[user]
	name = Amelia Aronsohn
	email = squirrel@wearing.black
	signingkey = 98E879BC3B6E1BF8
[core]
	excludesfile = ~/.gitignore
	editor = nvim
	autocrlf = input
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpgsign = true
[push]
	default = current
[fetch]
	prune = true
[init]
	defaultBranch = main
[pull]
	ff = only
#This is for git.mod that points to private repos
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
	ad = add --all
	ap = add --patch
	br = branch
	c = commit --signoff --verbose
	commit = commit --signoff
	pl = pull
	ps = push
	s = status
	st = status
	sw = switch
	pr = "!f() { git fetch origin pull/$1/head:pr-$1 && git switch pr-$1; }; f"
	sm = "!f() { git switch main && git pull origin main --prune; }; f"
	wipe = "!f() { git branch | egrep -v '( main$|master$|^\\*)' | xargs git branch -D; }; f"

#Silly tools fight for config down here
[hub]
	protocol = ssh
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

# vi: tabstop=2 noexpandtab
