---
extends: default
rules:
  document-start: false
  line-length:
    max: 256
    level: warning
yaml-files:
  - '*.yaml'
  - '*.yaml.erb'
  - '*.yml'
  - '*.yml.erb'
  - '.yamllint'

# vim: ft=yaml
