snippet P "New plugin" b
Plugin '${1:plugin}'
endsnippet

snippet " "Section Header" b
" ======================== ${1:Title} ========================

${2}
endsnippet

snippet n "chortcut comment" b
" ${1:key} = ${2:What it does}
${3:nnoremap command :}<CR>
endsnippet
