configuration {
  show: "combi";
  modi: "p:~/bin/rofi-power-menu";
  combi-modi: "window,drun,p";
  show-icons: true;
  icon-theme: "Mint-Y-Yari";
  sorting-method: "fzf";
}

@theme "gruvbox-dark-soft"
