layout {
    background-color "transparent"

    focus-ring {
        active-color   "#b4befe"
        inactive-color "#6c7086"
        urgent-color   "#f2b8b5"
    }

    border {
        active-color   "#b4befe"
        inactive-color "#6c7086"
        urgent-color   "#f2b8b5"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#b4befe"
        inactive-color "#6c7086"
        urgent-color   "#f2b8b5"
    }

    insert-hint {
        color "#b4befe80"
    }
}

recent-windows {
    highlight {
        active-color   "#3f4481"
        urgent-color   "#f2b8b5"
    }
}